<form id="upload-form">
    <input type="file" name="svg-file" id="svg-file">
    <button type="submit">upload</button>
</form>
{{#each filesData as |file|}}
    <div data-file-id="{{file.id}}">
        <img src="{{file.path}}" width="100" height="100">
        <a href="#" class="remove_file">remove</a>
    </div>
{{/each}}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        window.host = 'http://{{host}}';
    })
</script>
<script src="./js/components/home.js"></script>