<form id="upload-form">
    <input type="file" name="svg-file" id="svg-file">
    <button type="submit">upload</button>
</form>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        window.host = 'http://{{host}}';
    })
</script>
<script src="./js/components/home.js"></script>